<button
  class="btn btn-secondary"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#staticBackdrop"
  aria-controls="staticBackdrop"
  (click)="openCart()"
>
  Open Cart <span class="badge bg-dark">{{ numberOfItems }}</span>
</button>

<div
  class="offcanvas offcanvas-start"
  data-bs-backdrop="static"
  tabindex="-1"
  id="staticBackdrop"
  aria-labelledby="staticBackdropLabel"
>
  <app-cart
  [numberOfItems]="numberOfItems"
  [totalPrice]="totalPrice"
  [cartItems]="cartItems"
  ></app-cart>
</div>
